
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f1f8;
}


li {
    text-align: -webkit-match-parent;
}

.top-navbar .navbar-brand:hover {
    color: #fff;
    background: #1593c4;
}
 #wrapper {
    width: 100%;
    background: #f0f1f8;
}

.navbar-default {
    background: #fff;
}

.top-navbar{
    position: fixed;
    width: 100%;
    z-index: 300;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

.top-navbar{
    margin:0px;
    outline: 0px;
    border-width: 0px;
}
.top-navbar .navbar-brand {
    color: #fff;
    width: 250px;
    text-align: center;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 10px;
    background: #1593c4;
}

.navbar-side {
    z-index: 1;
    position: fixed;
    width: 250px;
    top: 50px;
    left: 0px;
    flex-direction: column;
    height: calc(100vh - 45px);
    background: rgb(41, 62, 69);
}


.sidebar-collapse {
    background: none;
}

.active-menu {
    background: rgb(37, 56, 63);
    color: rgb(212, 215, 225);
    height: 45px;
}
.sidebar-menu {
    color: rgb(212, 215, 225);
    height: 45px;
    padding: 0px 0px 0px 12px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px 0px 30px;
}
