
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f1f8;
}


li {
    text-align: -webkit-match-parent;
}

h2 {
    color: #1593c4;
}

.top-navbar .navbar-brand:hover,.top-navbar .navbar-brand:focus {
    color: #fff;
    background: #1593c4;
}
 #wrapper {
    width: 100%;
    background: #f0f1f8;
}

 #page-wrapper {
    width: 100%;
     padding: 50px 0px 0px 250px;
     background-color: #f0f1f8;
     height: calc(100vh);

 }

 #page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:transparent;
    padding:10px;
    min-height:1200px;
}

.navbar-default {
    background: #fff;
}

.top-navbar{
    position: fixed;
    width: 100%;
    z-index: 300;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

.top-navbar{
    margin:0px;
    outline: 0px;
    border-width: 0px;
}
.top-navbar .navbar-brand {
    color: #fff;
    width: 250px;
    text-align: center;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 10px;
    background: #1593c4;
}

.navbar-side {
    z-index: 1;
    position: fixed;
    width: 250px;
    top: 50px;
    left: 0px;
    flex-direction: column;
    height: calc(100vh - 45px);
    background: rgb(41, 62, 69);
}


.sidebar-collapse {
    background: none;
}

.sidebar-collapse .nav {
    padding: 0;
}

.active-menu {
    background: rgb(37, 56, 63);
    color: rgb(212, 215, 225);
    height: 45px;
}
.sidebar-menu {
    color: rgb(212, 215, 225);
    height: 45px;
    padding: 0px 0px 0px 12px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px 10px 30px;
}

.nav>li>a:hover,.nav>li>a:focus {
    background: rgb(37, 56, 63);
    color: rgb(212, 215, 225);
    height: 45px;
}

.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}

ul.nav.nav-second-level.show {
    background: #17191B;
}
.nav-second-level a {
    color: rgb(212, 215, 225);
    padding: 10px 20px 10px 45px !important;
}

.arrow {
    float: right;
    margin-top: 8px;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.page-heading {
    padding: 0px 10px 20px 10px;
    border-bottom: 2px solid #1593c4;
}

.panel-default {
  border-color: #ECECEC;
}
.panel-default > .panel-heading {
color: #000;
border-color: #FFF;
font-weight:bold;
background: #FFFFFF;
font-size: 16px;
}
.panel-heading {
  padding: 15px 15px 0px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
