{% extends "base.html" %}
{% block content %}
<div class="row panel-heading">
    <div class="col-md-12">
        <h2>资产管理</h2>
    </div>
</div>
<div id="page-inner">
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                硬件信息表
            </div>
            <div class="panel-body">
                <div class="row" style="padding: 0px 0px 10px 0px">
                    <div class="col-md-6">
                        <select class="input-sm col-sm-1">
                            <option>主机组</option>
                        </select>
                        <select class="input-sm col-sm-2">
                             <option>资产状态</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <form method="post">
                            <div class="input-group col-md-4" style="float: right">
                                <input class="form-control input-sm" type="text" name="keyword">
                            <div class="input-group-btn ">
                                <input class="btn btn-sm btn-info" type="submit" value="查询">
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox">
                                </th>
                                <th>服务器名称</th>
                                <th>公网地址</th>
                                <th>内网地址</th>
                                <th>操作系统</th>
                                <th>CPU核数</th>
                                <th>内存</th>
                                <th>磁盘</th>
                                <th>带宽</th>
                                <th>价格</th>
                                <th>添加日期</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="button" class="btn btn-sm btn-info" value="添加">
                        <input type="button" class="btn btn-sm btn-primary" value="编辑">
                        <input type="button" class="btn btn-sm btn-danger" value="删除">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}