<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="../static/css/font-awesome.css" rel="stylesheet" />
    <link href="../static/css/custom-styles.css" rel="stylesheet" />
    <title>运维平台</title>
</head>
<body id="wrapper">
<div>
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><i class="fa fa-comments"></i>运维平台</a>
        </div>
    </nav>

    <nav class="navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a class="active-menu"><i class="fa fa-dashboard"></i> 仪表盘</a>
                </li>
                <li>
                    <a class="sidebar-menu"><i class="fa fa-sitemap"></i> 资产管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">IDC信息</a>
                        </li>
                        <li>
                            <a href="#">硬件信息</a>
                        </li>
                        <li>
                            <a href="#">服务信息</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="sidebar-menu"><i class="fa fa-user"></i> 用户管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">用户</a>
                        </li>
                        <li>
                            <a href="#">用户组</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

</div>
    <script src="../static/js/jquery-1.10.2.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/custom.js"></script>
    <script src="../static/js/jquery.metisMenu.js"></script>
</body>
</html>